@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
  -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
  }
  :root {
    --montserrat: 'Montserrat', sans-serif;
  }

  body{
    margin: 0;
    padding: 0;
    font-family: var(--montserrat, 'Montserrat');
    font-size: 16px;
    min-height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('../img/hpphoto1.png');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/hpog.png');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/hpog.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  width: 5vw;
}

h1{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
